body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
}

.logo {
    width: 50px; /* Ukuran lebih kecil */
    height: auto;
    display: inline-block; /* Biar sejajar sama teks */
    vertical-align: middle; /* Posisikan sejajar teks */
    margin-right: 10px; /* Kasih jarak kecil ke kanan */
}

h1 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

.division {
    margin: 20px 0;
}

.shadow-reapers {
    color: cyan;
}

.shadow-stars {
    color: orange;
}

.motto {
    font-style: italic;
}

.team, .achievements, .leaders {
    margin: 20px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 18px;
    margin: 5px 0;
}

.achievements img {
    width: 60%; /* Lebih kecil biar pas */
    max-width: 300px; /* Ukuran maksimal dikurangi */
    margin: 5px auto;
    display: block;
    border-radius: 8px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    font-size: 14px;
}
